<div class="container">
  <h3 class="acchead">REJECTED CANDIDATES</h3>
  <div class="card">
    <div class="contentsec">
      <div class="media">
        <img class="align-self-start mr-3" src="../../../assets/images/SARANYA.jpeg" alt="Generic placeholder image" width="100px" height="100px">
        <div class="media-body">
          <h5 class="mt-0 selname">Saranya</h5>
          <div class="itemdet">
            <div class="itemdetleft">
              <p class="seldet mr-5">Email: <span>saranya@gmail.com</span></p>
              <p class="seldet mx-5">Mobile: <span>4793482942342</span></p>
              <p class="seldet mx-5">Experience: <span>2</span></p>
            </div>
          </div>
          
        
      </div>
      
    </div>
  </div>