<!-- <div class="container">
    <div class="listitems">
        <ul class="list-unstyled" *ngFor="let each of candidateapplication">
            <li class="media my-5">
              <img src={{each.src}} width="180" height="180" class="mr-3" alt="image">
              <div class="media-body">
                <h5 class="mt-0 mb-1 f-3 font-weight-bold">{{each.name}}</h5>
                <div class="itemdet">
                    <div class="itemdetleft">
                    <p>Email: <span>{{each.email}}</span></p>
                    <p>Mobile: <span>{{each.mobile}}</span></p>
                    <p>Experience: <span>{{each.experience}}</span></p>
                    </div>
                    <div class="itemdetright">
                        <p>Resume: <a href="javascript:void(0)" 
                            style="cursor:pointer"
                            (click)="downloadPdf('./assets/sample.pdf','your_pdf_file')">{{each.resume}}</a></p>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Logical Assessment
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Technical Interview
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      HR Interview
                    </label>
                  </div>
                <button class="btn lblname float-right mr-3">Restore</button>
                <button class="btn lblname float-right mr-3">View Profile</button>
              </div>
            </li>
          </ul>
    </div>
</div> -->
