<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://rntbci.in">
            <img src="../../../assets/images/favicon.PNG" width="80" height="30" alt="logo">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home"><span class="navnames">Home </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Jobs"><span class="navnames">Jobs</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/application-status"><span class="navnames">My Application</span></a>
                </li>
            </ul>

        </div>
        <div class="float-right">
            <a href="/SignUp">
                <i class="bi bi-person-circle"></i>
            </a>
        </div>
    </div>
</nav>


<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-home></app-home> -->
<!-- <app-userresumeupdate></app-userresumeupdate> -->
<!-- <app-admin></app-admin> -->
<!-- <app-userstatus></app-userstatus> -->
<router-outlet></router-outlet>


<footer class="footersec mt-2">
    <div class="footerpart">
        <a href="https://rntbci.in">
            <img class="footerimg" src="../../../assets/images/logo1.png" width="350px" height="100px" alt="logo">
            <p class="cpyname">2022 @ Renault Nissan Technology & Business Centre India (RNTBCI)</p>
        </a>
    </div>
</footer>