.navnames{
    color: #FF8C00;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 10px;
} 

.footerpart{
    background-color: black;
    height: 300px;
    text-align: center;
    width: 100%;
}

.footerimg{
    margin-top: 100px;
}

.cpyname{
    text-decoration: none;
    color: white;
}