
<div class="fillresume">
    <div>
        <h2 class="formhead">APPLICATION FOR TEST ENGINEER</h2>
    </div>
    <section>
        <div class="formsec">
            <form onsubmit="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="lblname" for="inputfirstname">First Name</label>
                        <input type="text" class="form-control" id="inputfirstname">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="lblname" for="inputlastname">Last Name</label>
                        <input type="text" class="form-control" id="inputlastname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="lblname" for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="lblname" for="inputdob">DOB</label>
                        <input type="number" class="form-control" id="inputdob">
                    </div>
                </div>
                <div class="form-group">
                    <label class="lblname" for="inputmobile">Mobile</label>
                    <input type="number" class="form-control" id="inputmobile">
                </div>
                <hr />
                <div class="form-group">
                    <label class="lblname" for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="lblname" for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="lblname" for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option class="lblname" selected>ANDHRA PRADESH</option>
                            <option class="lblname">ASSAM</option>
                            <option class="lblname">BIHAR</option>
                            <option class="lblname">GOA</option>
                            <option class="lblname">HARYANA</option>
                            <option class="lblname">JHARKHAND</option>
                            <option class="lblname">KERALA</option>
                            <option class="lblname">KARNATAKA</option>
                            <option class="lblname">PUNJAB</option>
                            <option class="lblname">RAJASTHAN</option>
                            <option class="lblname">SIKKIM</option>
                            <option class="lblname">TAMIL NADU</option>
                            <option class="lblname">UTHAR PRADESH</option>
                            <option class="lblname">UTTARKHAND</option>
                            <option class="lblname">WEST BENGAL</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="lblname" for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <hr />
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="lblname" for="inputeducation">Education</label>
                    <select id="inputeducation" class="form-control">
                        <option class="lblname" selected>Bachelors/Diploma</option>
                        <option class="lblname">Masters/Post Graduation</option>
                        <option class="lblname">Doctorate/PhD</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="lblname" for="inputexp">Experience</label>
                    <input type="number" class="form-control" id="inputexp">
                </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="lblname" for="inputtwelthmark">12th Percent</label>
                        <input type="number" class="form-control" id="inputtwelthmark">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="lblname" for="inputtenthmark">10th Percent</label>
                        <input type="number" class="form-control" id="inputtenthmark">
                    </div>
                </div>
                <label class="lblname" for="resume">Resume</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label lblname" for="customFile">Choose file</label>
                </div>
                <hr />

                <div class="form-group">
                    <label class="lblname" for="inputpassword">Password</label>
                    <input type="text" class="form-control" id="inputpassword">
                    <small id="passwordHelpInline" class="lblname">
                        Must be 8-20 characters long.
                    </small>
                </div>
                <hr />
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label lblname" for="gridCheck">
                            I accept the terms and conditions provided by RNTBCI
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btnname" >Apply</button>
            </form>
        </div>
    </section>
</div>
