<section>
    <div class="container">
        <h1 class="apphead">My Applications</h1>
        <div class="applist">
            <div class="outercard">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title statustle">Senior Java Developer</h5>

                        <!-- <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Show Details
                              </mat-panel-title>
                              <mat-panel-description>
                                This is a summary of the content
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul>
                                <div class="dotted">
                                    <li class="detstyle icon">
                                        <i class="bi bi-check-circle-fill"></i>
                                        <p class="statuspara text-black">Job applied successfully</p>
                                    </li>
                                    <li class="detstyle icon">
                                        <i class="bi bi-check-circle-fill"></i>
                                        <p class="statuspara">Recruiter viewed your profile</p>
                                    </li>
                                    <li class="detstyle icon">
                                        <i class="bi bi-check-circle"></i>
                                        <p class="statuspara">Your application is selected</p>
                                    </li>
                                    <li class="detstyle">
                                        <i class="bi bi-check-circle"></i>
                                        <p class="statuspara">First round of Aptitude assessment scheduled on
                                            20th November</p>

                                    </li>
                                    <li class="detstyle">
                                        <i class="bi bi-check-circle"></i>
                                        <p class="statuspara">Second round of Technical assessment scheduled on
                                            24th November</p>

                                    </li>
                                    <li class="detstyle">
                                        <i class="bi bi-check-circle"></i>
                                        <p class="statuspara">Third round of HR Interview scheduled on 24th
                                            November</p>

                                    </li>
                                    <li class="detstyle">
                                        <i class="bi bi-check-circle"></i>
                                        <p class="statuspara">Offer letter will be issued on or before December
                                            2022</p>

                                    </li>
                                    <li class="detstyle">
                                        <i class="bi bi-check-circle"></i>
                                        <p class="statuspara">Your onboarding date is on 1st Jan 2023. Welcome
                                            to RNTBCI Family.</p>
                                    </li>
                                </div>
                            </ul>

                          </mat-expansion-panel> -->

                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Show Details
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body cardcnt"> 
                                 <div>
                                    <ul>
                                        <div class="dotted">
                                            <li class="detstyle icon">
                                                <i class="bi bi-check-circle-fill"></i>
                                                <p class="statuspara text-black">Job applied successfully</p>
                                            </li>
                                            <li class="detstyle icon">
                                                <i class="bi bi-check-circle-fill"></i>
                                                <p class="statuspara">Recruiter viewed your profile</p>
                                            </li>
                                            <li class="detstyle icon">
                                                <i class="bi bi-check-circle"></i>
                                                <p class="statuspara">Your application is selected</p>
                                            </li>
                                            <li class="detstyle">
                                                <i class="bi bi-check-circle"></i>
                                                <p class="statuspara">First round of Aptitude assessment scheduled on
                                                    20th November</p>

                                            </li>
                                            <li class="detstyle">
                                                <i class="bi bi-check-circle"></i>
                                                <p class="statuspara">Second round of Technical assessment scheduled on
                                                    24th November</p>

                                            </li>
                                            <li class="detstyle">
                                                <i class="bi bi-check-circle"></i>
                                                <p class="statuspara">Third round of HR Interview scheduled on 24th
                                                    November</p>

                                            </li>
                                            <li class="detstyle">
                                                <i class="bi bi-check-circle"></i>
                                                <p class="statuspara">Offer letter will be issued on or before December
                                                    2022</p>

                                            </li>
                                            <li class="detstyle">
                                                <i class="bi bi-check-circle"></i>
                                                <p class="statuspara">Your onboarding date is on 1st Jan 2023. Welcome
                                                    to RNTBCI Family.</p>
                                            </li>
                                        </div>
                                    </ul>

                                </div> 
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>